@import "tailwindcss";
@plugin "daisyui";


@keyframes text-typewriter {
  0% { width: 0; }
  100% { width: 100%; }
}


@keyframes text-slideInUp {
    0% { transform: translateY(100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}


@keyframes text-scale {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

